<div class="row">
  <div class="col-md-12">
    <h2>Departments <a href="/departments/add" class="btn btn-success pull-right">Add New Department</a></h2>
    <div class="table-responsive">
      <table class="table">
        <tr>
          <th>Department Number</th>
          <th>Department Name</th>
          <th></th>
        </tr>
        {{#each result}}
        <tr>
          <td><a href="/department/{{departmentId}}">{{departmentId}}</a></td>
          <td><a href="/department/{{departmentId}}">{{departmentName}}</a></td>
          <td><a href="/departments/delete/{{departmentId}}" class = "btn btn-danger">remove</td>
        </tr>
        {{/each}}
      </table>
    </div>
    {{#unless result}}
    <div class="col-md-12 text-center">
      <strong>{{message}}</strong>
    </div>
    {{/unless}}
  </div>
</div>
